$base-font: 'Roboto', sans-serif;
$bold: 700;
$medium: 500;

$primary: #e74246;
$secondary: #e1e1e1;
$background: #eee;

$primary-text: #000;
$secondary-text: #283136;
$text-hover: #fb565a;
$text-active: rgba($color: #000000, $alpha: .3);

$success: green;
$warning: yellow;
$danger: red;