$base-font: 'Roboto', sans-serif;
$second-font: 'Roboto Condensed', sans-serif;

$primary: #fff;
$secondary: #eee;

$primary-text: #000;
$secondary-text: #283136;

$lik: #000;
$visi: #000;
$hove: #fb565a;
$activ:#a6a6a6;