<section class="hero">
    <div class="dot-1"></div>
    <div class="hero__slide slide-1">
        <div class="slide__description">
            <h1 class="slide__title">Долго, дорого, скрупулезно.</h1>
            <p class="slide__sub-title">Математически выверенный дизайн для вашего сайта или мобильного приложения.</p>
            <button class="hero__btn btn">Узнать больше</button>
        </div>
    </div>
    <div class="dot-2"></div>
    <div class="hero__slide slide-2">
        <div class="slide__description">
            <h1 class="slide__title">Любим математику как никто другой</h1>
            <p class="slide__sub-title">Никакого креатива, только математические формулы для расчета идеальных пропорций.</p>
            <button class="hero__btn btn">Узнать больше</button>
        </div>
    </div>
    <div class="dot-3"></div>
    <div class="hero__slide slide-3">
        <div class="slide__description">
            <h1 class="slide__title">Только ночь, только хардкор</h1>
            <p class="slide__sub-title">Работать днем, как все? Мы против этого. Ближе к полуночи работа только начинается..</p>
            <button class="hero__btn btn">Узнать больше</button>
        </div>
    </div>
</section>