
        {% include 'components/catalog/Filter/index.html' %}
        
    <div class="context_input">
        <div class="nav-context">
            <div class="sort">
                <h3 class="sorf-text">сортировать:</h3>
            </div>
            <div class="nav-sort">
                <ul class="list">
                    <li class="nav-li"><a class="sil" href="">по цене</a></li>
                    <li class="nav-li"><a class="sil" href="">по типу</a></li>
                    <li class="nav-li"> <a class="sil" href="">по названию</a> </li>
                    <button class="nav-li-btn"></button>
                    <button class="nav-li-btn"></button>
                </ul>
            </div>
        </div>
        <div class="container">
            <!-- <div class="product"> -->
                {% block product %}{% endblock %}
            <!-- </div> -->
        </div>
    </div>
