.logo {
  display: block;
}

 .logo__link {
  display: block;
  line-height: 1;
}
    
.logo__img {  
  opacity: 1;
  display: block;
  width: 160px;
  height: 66px;

 &:hover {
    opacity: 0.8;
 }

 &:active {
    opacity: 0.3;
 }
}