.header {
  position: fixed; 
  width: 100%;
  background: $primary;
  z-index: 100;
}
  
.container--header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  max-width: 1460px;
  align-items: center;
  overflow: hidden;
}