<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="/index_files/jquery-1.js">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="filtre.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 20000,
                values: [0, 15000],
                slide: function (event, ui) {
                    $("#amount").val(ui.values[0]);
                    $("#amount2").val(ui.values[1]);
                }
            });
            $("#amount").val($("#slider-range").slider("values", 0));
            $("#amount2").val($("#slider-range").slider("values", 1));
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".CheckBoxClass").change(function(){
                if($(this).is(":checked")){
                    $(this).next("label").addClass("LabelSelected");
                }else{
                    $(this).next("label").removeClass("LabelSelected");
                }
            });
            $(".RadioClass").change(function(){
                if($(this).is(":checked")){
                    $(".RadioSelected:not(:checked)").removeClass("RadioSelected");
                    $(this).next("label").addClass("RadioSelected");
                }
            });	
        });
        $('button').on('click', function() {
  $(this).hasClass('desc') || $(this).hasClass('asc') ? 
    $(this).toggleClass('asc desc') : $(this).addClass('desc');
});
        </script>
  <title>
    {% block title %}{% endblock %}
  </title>
  <link rel="stylesheet" href="css/main.min.css">
</head>
<body>
     

  <div class="content">
    {% block content %}{% endblock %}
  </div>

  {% include 'components/Layout/Footer/footer.html' %}
</body>
</html>