{%
    set items = [
      { title: 'студия', href: 'index.html' },
      { title: 'клиенты', href: '#' },
      { title: 'магазин', href: '#' },
      { title: 'контакты', href: '#' }
   ]
 
  %}
  
  <nav class="nav">
    <ul class="nav__list">
  
      {% for item in items %}
        <li class="nav__item">
          <a href="{{ item.href }}" class="nav__link">
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
    </ul>

  </nav>
  <div class="cart">
   <div class="cart__icon">
    <i class="fas fa-shopping-cart"></i>
  </div>
  <a href="#" class="nav__link">
      корзина
    </a>
   
  </div>
 

  