{%
set items = [
{ title: 'клиенты', href: '#' },
{ title: 'магазин', href: '#' },
{ title: 'контакты', href: '#' }
]
%}

<nav class="nav">
  
  <ul class="nav__list">
    <li class="nav__item">
      <a href="index.html" class="nav__link nav__underline">
        студия
      </a>
    </li>
    {% for item in items %}
    <li class="nav__item">
      <a href="{{ item.href }}" class="nav__link">
        {{ item.title }}
      </a>
    </li>
    {% endfor %}
  </ul>

    <button class="nav__btn nav__btn--close">
      <i class="fas fa-times"></i>
    </button>

</nav>
<div class="cart">
  <button class="nav__btn nav__btn--open">
    <i class="fas fa-bars"></i>
  </button>

  <a href="#" class="nav__link nav__underline">
    <i class="fas fa-shopping-cart cart__icon"></i>
    <span class="cart--active">корзина</span>
  </a>
</div>
  
 

  