.contacts {
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 100%;
    height: auto;
    background: url("../img/map-fragment.jpg") no-repeat ;
    background-size: cover;
    padding-left: 0;
}

.container--contacts {
    display: flex;
    align-items: center;
       
    @include medium {
        max-width: 1410px;
        width: 100%;
        height: 416px;
        background: none;
                
    }
}

.address {
    display: flex;
    flex-direction: column;
    align-items: right;
    margin: 10px;
    width: 319px;
    height: 308px;
    padding: 20px 10px;
    background: #fff;
    font-style: normal;
    overflow: hidden;
    @include medium {
        margin-left: 130px;
        padding: 53px 0 47px 50px;
    }
}

.address__title {
    @include font-size(18);
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    line-height: 1;
}

.address__list {
    list-style: none;
    padding-left: 0;
    padding-bottom: 40px;
    margin: 0;
    line-height: 1.135;
    color: #666;
}

.address__item {
    padding-top: 20px;
}

.address__btn {
    display: block;
    padding: 17px 45px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    width: 220px;
    height: 51px;
    background-color: $hover;
    @include links (#fff, #fff, #fff, #e37376); 
 &:hover {
     background-color: #e74246;
 }
}


